// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

a{
    color:#222;

}
a:hover{
text-decoration: none;
color:#555;

}

.navbar-brand {
    display: inline-block;
    padding-top: 0.32rem;
    padding-bottom: 0.32rem;
    margin-right: 1rem;
    margin-left: 1rem;
    font-size: 1.5rem;
    line-height: inherit;
    white-space: nowrap;
}
.nav-avatar{
    width: 50px;
    height:50px;
}

footer{
    margin-top: 45px;
    border-top: solid 1px #eaeaea;
    background-color:#f5f5fa ;
   
    img{
        vertical-align: top;
    }
    
    .footer-copyright
    {
     border-top: solid 1px #eaeaea;
    }
    .footer-logo{
       
        .title{
            display: inline-block;
        }
        h3{
            font-family: fantasy;
            vertical-align: text-bottom;
            margin-left: 30px; font-family: fantasy;
        } 
    }
    
}